<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% if form %}
            <form action="/" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="OK">
            </form>
        {% endif %}
        <figure>
            {% if src %}
                <figcaption>
                    You may listen To the transcript:
                </figcaption>
                <audio controls src="{{ src }}">
                    Your browser does not support the
                    <code>audio</code> element.
                </audio>
            {% endif %}
        </figure>
        {%if fileform%}
        <h1>Upload Video</h1>
        <form action="/vid" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ fileform }}
            <input type="submit" value="OK">
        </form>
        {%endif%}
        {% if vidsrc %}
            <h1>Play Video</h1>
            <video name='demo' controls autoplay width='50%' height='40%'>
                <source src="{{ vidsrc }}" type="video/mp4">
            </source>
        </video>
    {% endif %}
</body>
</html>
